src/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="MessageRecebimentoRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageRecebimentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="unbounded" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <wsdl:message name="MessageRecebimentoSoapIn">
    <wsdl:part name="parameters" element="tns:MessageRecebimentoRequest"/>
  </wsdl:message>
  <wsdl:message name="MessageRecebimentoSoapOut">
    <wsdl:part name="parameters" element="tns:MessageRecebimentoResponse"/>
  </wsdl:message>
  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
  <wsdl:portType name="MessageRecebimentoSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="MessageRecebimento">
      <wsdl:input message="tns:MessageRecebimentoSoapIn"/>
      <wsdl:output message="tns:MessageRecebimentoSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <wsdl:binding name="MessageRecebimentoServiceSoapBinding" type="tns:MessageRecebimentoSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MessageRecebimento">
      <soap:operation soapAction="MessageRecebimento" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageRecebimentoServiceSoap12Binding" type="tns:MessageRecebimentoSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="MessageRecebimento">
      <soap12:operation soapAction="MessageRecebimento" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <!-- SERVICE:  -->
  <wsdl:service name="MessageRecebimentoService">
    <wsdl:port name="MessageRecebimentoServiceSoapPort" binding="tns:MessageRecebimentoServiceSoapBinding">
      <soap:address location="https://poupatempo.potencialtecnologia.com.br/wsdl?wsdl"/>
    </wsdl:port>
    <wsdl:port name="MessageRecebimentoServiceSoap12Port" binding="tns:MessageRecebimentoServiceSoap12Binding">
      <soap12:address location="https://poupatempo.potencialtecnologia.com.br/wsdl?wsdl"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>